<%- include ('header.ejs') %>

<body>
  <div class="container-box">
    <h1>To Do List, <%= date %></h1>
    
    <!-- Form Input -->
    <form action="/add" method="post" class="d-flex gap-2 mt-3">
      <input type="text" name="task" id="task" placeholder="New Task" class="form-control flex-grow-1">
      <button type="submit" class="btn btn-outline-dark btn-sm">+</button>
    </form>

    <!-- Daftar Task -->
    <% if (tasks.length> 0) { %>
        <ul class="mt-3 list-unstyled">
        <% tasks.forEach((task, index)=> { %>
            <li class="task-item d-flex align-items-center gap-2 mb-2">
                <input type="checkbox" class="task-checkbox">
                <span class="task-text"><%= task %></span>
                <form action="/delete<%= index %>" method="post" class="d-inline">
                    <button type="submit" class="btn btn-sm btn-link text-danger p-0">
                      <i class="bi bi-trash"></i>
                    </button>
                  </form>
              </li>
            <% }); %>
          </ul>
      
      <div class="reset mt-3">
        <form action="/reset" method="post">
          <button type="submit" class="btn btn-outline-danger">Reset</button>
        </form>
      </div>
    <% } %>
  </div>

  <%- include('footer.ejs') %>